<template>
    <div class="container">
        <div>
            <logo />
            <h1 class="title">
                algea monitor
            </h1>
            <h2 class="subtitle">
                Website for monitoring algea
            </h2>
            <h1 class="probe-data">
                Temperature:
                <span v-if="temperature !== null"> {{ temperature }} </span>
                <span v-else> -- </span> &deg;C
            </h1>
            <h1 class="probe-data">
                pH:
                <span v-if="pH !== null"> {{ pH }} </span>
                <span v-else> -- </span>
            </h1>
            <h1 class="probe-data">
                dO:
                <span v-if="dO !== null"> {{ dO }} </span>
                <span v-else> -- </span>
            </h1>
        </div>
    </div>
    </div>
</template>

<script>
import process from 'process'
import Logo from '~/components/Logo.vue'

export default {
    components: {
        Logo
    },
    data () {
        return {
            temperature: null,
            pH: null,
            dO: null
        }
    },

    created () {
        this.fetchData()
        setInterval(function(){this.fetchData()}.bind(this), 5000)
    },

    methods: {
        async fetchData () {
            const response = await fetch('https://algea-monitor-api.herokuapp.com/probe', {
                method: 'GET',
                cache: 'no-cache',
                headers:{
                    'Content-Type': 'application/json'
                }
            })
            const data = await response.json()
            this.temperature = data.temperature
            this.pH = data.pH
            this.dO = data.dO
        }
    },

}

</script>

<style>
.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
}

.probe-data {
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 40px;
    color: #35495e;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 15px;
}

.subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
}

.links {
    padding-top: 15px;
}
</style>
